@import url(//db.onlinewebfonts.com/c/419fa9c2bf7fadf2bd9edecfe4d8c936?family=Formular);
@import url('https://fonts.googleapis.com/css?family=Inter:400,500,700&display=swap');
@import url(//db.onlinewebfonts.com/c/0f106940a384f214837a8df504786e1a?family=Formular);

:root {
    --app-green: #35b44f;
    --app-blue: #8cd6ee;
    --app-purple: #54378e;
    --app-pink: #ec0c76;
    --app-yellow: #fdd31a;
    --app-orange: #f16724;
    --app-shadow: 0 0 8px rgba(9, 0, 50, 0.09);;
}

* {
	font-family: Formular, sans-serif;
}

body {
	box-sizing: border-box;
  margin: 0;
  font-family: Inter, Formular, sans-serif;
  background: #f8f5ff !important;
}

h2, h3, h4, h5, h6, p {
  font-family: Inter, Formular, sans-serif !important;
}
h2, h3, h4, h5, h6 {
  font-weight: 700 !important;
}

.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.no-data {
    background: #fff;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 
      0px 1px 1px 0px rgba(0,0,0,0.14), 
      0px 1px 3px 0px rgba(0,0,0,0.12);
    border-radius: 4px;
}

.Header .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #222 !important;
  margin-left: 10px;
}

.Header .navbar-nav .nav-link.active {
  color: var(--app-purple) !important;
}

.Header nav {
  box-shadow: var(--app-shadow);
}
.Header .profile {
  display: flex;
  margin-left: 20px;
}

.Header .profile img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--app-orange);
  padding: 1px;
}
.Header .profile .dropdown-toggle {
  margin-left: 2px;
}

.Header .profile .dropdown-menu {
  right: 0;
  left: unset !important;
}
.Header .navbar-nav .nav-link.with-button {
  padding: 0;
}
.Header .dropdown-item.active, 
.Header .dropdown-item:active {
  background-color: var(--app-purple);
}
.Header .dropdown-menu {
  border: none;
  box-shadow: 0 0 8px rgba(9, 0, 50, 0.01);;
}


.Login.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.Login.section form button {
  height: 50px;
}
.Login.section form .MuiOutlinedInput-input {
  padding: 17.5px 14px;
}
.Login.section .MuiCardContent-root {
  padding: 30px 25px;
}

.Login.section .login-footer {
  color: #222;
  text-align: center;
}
.Login.section .login-footer a {
  text-align: center;
  color: #007bff;
  text-decoration: none;
}


.small-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.small-message div {
  width: 34%;
  background: #ebe4fd;
  height: 1px;
}
.small-message p {
  width: 50%;
  text-align: center;
}
.third-party-signin {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.third-party-signin .clickPopUp {
  width: 30%;
}
.third-party-signin .clickPopUp button {
  width: 100%;
  background: #eaf3f5;
  border: 0;
  border-radius: 4px;
  padding: 20px;
  outline: none;
  border-bottom: 2px solid #eaf3f5;
}
.third-party-signin .clickPopUp button span {
  color: var(--purple);
}
.third-party-signin .clickPopUp button:hover {
  border-bottom: 2px solid var(--app-purple);
}
.third-party-signin .clickPopUp button:hover:disabled {
  border-bottom: 2px solid #eaf3f5;
}
.social-row {
  display: flex;
  justify-content: center;
}
.register-list {
  padding: 0;
  list-style: none;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 30px;
}
.register-list li {
  display: flex;
  margin-bottom: 15px;
}
.register-list li svg {
  margin-right: 15px;
}
.divider-vertical {
  position: absolute;
  width: 1px;
  height: 100%;
  background: #f0ecf9;
  top: 0;
  right: 8px;
}


@media (max-width: 991px) {
  .divider-vertical {
    display: none;
  }
  .section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}